# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv_win/

# Ignore local secrets and state files
secrets/*

# Ignore logs
logs/*

# Ignore build release directory and standalone executables
release/
tracker.exe
configurator.exe
